{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/normalize_login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style_login.css' %}">
    <link rel="icon" href="{% static '/images/LogoBYN.png'   %}">
    <title>Login</title>
</head>
<body>
        <main>
            <div class="container">
                <div class="info">
                    <p class="txt-1">Sin rodeos ni complicación,¡Ventas.facil es la elección!</p>
                    <a><img src="{% static '/images/LogoBYN.png' %}" width="200px" height="200px" alt="logo"></a>
                    <hr>
                </div>
                <form class="form">
                    <h2>Login</h2>
                    <div class="inputs">
                        <input type="text" id="usuario" name="usuario" class="box" placeholder="Ingresa tu usuario">
                        <input type="password" id="password" name="password" class="box" placeholder="Ingresa tu contraseña">
                        <button class="submit">Login</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="footer">
            <span class="xd">Copyright © Ventasfacil 2023</span>
        </footer>
</body>
</html>